<%- include('partials/header') %>
<body>
<div class="container-fluid d-flex justify-content-between">
  <h5 class=" fw-bolder text-secondary my-3 mt-2 ms-3">Connected as <span class="fw-bolder text-primary fs-4"><%= locals.name ?  name: "" %></span></h5>
  <h5 class=" fw-bolder text-secondary my-3 mt-2 me-3 contact"><a class="fw-bolder text-decoration-none" href="/contact">Contact</a></h5>
</div>



<div class="jumbotron text-center mb-5 mt-4">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h3 class=" display-5 fw-bold fs-2 mt-5 mb-2">No one is perfect , Everyone has a secret</h3>



    <div class="container-fluid d-flex flex-column mt-3 p-0">
      <%  for(const error of warning) { %>
       <div class="error p-0 mx-1 py-2 rounded text-center  border-2 border-danger row d-flex align-items-center my-2" style="border: 3px solid red;background-color: rgba(255, 171, 4, 0.383);">
          <span class="material-symbols-outlined p-0 m-0 col-1 text-danger">error</span>
         <p class="fw-bolder text-danger p-0 m-0 px-2 rounded text-center col-11 fs-6" > <%= error.message %></p>
       </div>
       <% } %>
       <% for(const succ of success) {  %>
         <div class="success p-0 mx-1 py-2 rounded text-center  border-2 border-success row d-flex align-items-center my-2" style="border: 3px solid green;background-color: rgba(172, 255, 47, 0.475);">
           <span class="material-symbols-outlined p-0 m-0 col-1 text-success"> task_alt</span>
           <p class="fw-bolder text-success p-0 m-0 rounded text-center col-11 " > <%= succ.message%></p>
         </div>                
         <% } %>           
     </div>
    <div class="container d-flex flex-wrap justify-content-center gap-4 mb-5 mt-5">

      <% for(const secret of secrets)  { %>
      <div class="secret-text text-center py-2 px-5 mt-3 d-flex flex-column align-items-center rounded-4 border-2 border-light" style="height:250px;width:250px ; border:3px solid white;box-shadow: 4px 5px 0 #00000099;">
        <div class="secret  text-center  d-flex  align-items-center" style="height: 80%;"><%= secret.text %></div>
        <div class="owner text-secondary" style="height: 16%;"><%= secret.name %></div>
      </div>
      <% } %>


    </div>

    <hr class="mb-5">
    <div class="container-fluid d-flex justify-content-center gap-3 flex-wrap">
      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-light btn-lg fw-bold" style="width:150px">Log Out</button>
      </form>
      <a class="btn btn-dark btn-lg ms-3 fw-bold" style="width:150px" href="/add/secret" role="button">Post Secret</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
